.todoItem {
    display: flex;
    align-items: center;
    border: 1px solid #13d1e1;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.todoActions {
    display: flex;
    gap: 6px;
}
.todoText {
    width: 100%;
    word-break: break-all;
    display: flex;
    gap: 8px;
}
